<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cupcakes</title>
</head>
<body>
    <h1>Look at all these cupcakes!</h1>
    <ul id="cupcakeList">

    </ul>
    <form id="cupcake-form">
        <label for="flavor">Flavor</label>
        <input type="text" name="flavor" id="form-flavor">
        <label for="size">Size</label>
        <input type="text" name="size" id="form-size" >
        <label for="rating">Rating</label>
        <input type="text" name='rating' id="form-rating">
        <label for="image">Image URL</label>
        <input type="text" name="image" id='form-image'>
        <button>Submit</button>
    </form>
</body>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>
</html>